<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css')}}">
    <script src="https://kit.fontawesome.com/6d22c223fa.js" crossorigin="anonymous"></script>
    <title>Tabla (PRUEBA SUNNYAPP)</title>
</head>
<body>
    <div class="fondo1">
        
            <form action="cerrar-sesion" method ="post">
                <button type="submit" class="sesion">Cerrar Sesión</button>
            </form>

    </div>
</body>
</html>