<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css')}}">
    <script src="https://kit.fontawesome.com/6d22c223fa.js" crossorigin="anonymous"></script>
    <title>Registro (PRUEBA SUNNYAPP)</title>
</head>
<body>
    <div class="fondo">
        <div class="content-form register">
        <h2>Registrarse</h2>

        <form action="crear-registro" method ="post">
            <div class="input-box">
                <span class="icon"><i class="fa-solid fa-user"></i></span>
                <label for="InputUsuario">Usuario</label>
                <input type="text" placeholder="Usuario" name="txtUsuario" required>
             </div>

            <div class="input-box">
                <span class="icon"><i class="fa-solid fa-envelope"></i></i></span>
                <label for="InputCorreo">Correo</label>
                <input type="email" placeholder="Correo" name="txtCorreo" required>
            </div>

            <div class="input-box">
                <span class="icon"><i class="fa-solid fa-lock"></i></span>
                <label for="InputPassword">Contraseña</label>
                <input type="password" placeholder="Contraseña" name="txtPassword" required>
            </div>

            <button type="submit" class="dbtn">Registrarse</button>

            <div class="login-link">
                <p>¿Tienes cuenta? <a href="/">Inicia sesión</a></p> 
            </div>
        </form>
        </div>

    </div>
</body>
</html>